body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    color: red;
}
input{
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px soli #ccc;

}
select{
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: red;
    color: white;
    cursor: pointer;
}
ul{
    list-style: none;
}
li{
    cursor: pointer;
    color: grey;
    font-weight: lighter;
}
.bloque{
    margin: 20px;
}


