h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rebeccapurple;
    font-size: 35px;
    
}

button{
    background-color: purple;
    border-color: aliceblue;
    color: aliceblue;
    padding: 10px 10px;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

ul{
    list-style-type: none;
    padding: 0;
    
}

li{
    border-bottom: 2px solid wheat;
    padding: 5px;
    background-color: antiquewhite;
}